body {
  width: 720px;
  margin: 20px auto 20px auto;
}

#d3 {
  outline: 1px red solid;
  width: 287px;
  overflow: hidden;
}

#d3 div {
  width: 5px;
  height: 5px;
  background-color: white;
  outline: 1px black solid;
  float: left;
  margin: 1px;
  display: block;
}

.tile {
  shape-rendering: crispEdges;
}

canvas {
    position: "absolute";
    margin: 20px 90px 30px 50px;
    cursor: crosshair;
}
