body {
    font: normal normal 16px "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
    margin: 20px auto 20px auto;
    width: 720px;
}

#d3 {
  outline: 1px red solid;
  width: 287px;
  overflow: hidden;
}

#d3 div {
  width: 5px;
  height: 5px;
  background-color: white;
  outline: 1px black solid;
  float: left;
  margin: 1px;
  display: block;
}

.tile {
  shape-rendering: crispEdges;
}

canvas {
    display: none;
}

#canvas_wrapper {
    cursor: crosshair;
    -webkit-box-shadow: 0px 0px 20px black;
            box-shadow: 0px 0px 20px black;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    padding: 10px;
    position: absolute;
    margin: 20px 90px 30px 50px;
    -webkit-transition: width 2s;
         -o-transition: width 2s;
            transition: width 2s;
}

#loading_brain_text {
    border: 1px solid transparent;
    color: #888;
    font-size: larger;
    font-style: italic;
    display: inline-block;
    margin: 0px;
    padding: 6px 10px;
    text-decoration: none;
}

#loading_brain {
    width:50px;
    height:50px;
    -webkit-animation:spin-pulse 1.5s linear infinite;
    -moz-animation:spin-pulse 1.5s linear infinite;
}

@-webkit-keyframes spin-pulse {
    10% {-webkit-transform: scale(1.2);}
    30% {-webkit-transform: scale(1.0);}
    31% {-webkit-transform: rotate(-1deg);}
    100% { -webkit-transform: rotate(-360deg); }
}
@-o-keyframes spin-pulse {
    10% {-webkit-transform:scale(1.2);-o-transform:scale(1.2);transform:scale(1.2);}
    30% {-webkit-transform:scale(1.0);-o-transform:scale(1.0);transform:scale(1.0);}
    31% {-webkit-transform:rotate(-1deg);-o-transform:rotate(-1deg);transform:rotate(-1deg);} /*must do 11% for some moz rendering*/
    100% {-webkit-transform:rotate(-360deg);-o-transform:rotate(-360deg);transform:rotate(-360deg);}
}
@keyframes spin-pulse {
    10% {-webkit-transform:scale(1.2);-o-transform:scale(1.2);transform:scale(1.2);}
    30% {-webkit-transform:scale(1.0);-o-transform:scale(1.0);transform:scale(1.0);}
    31% {-webkit-transform:rotate(-1deg);-o-transform:rotate(-1deg);transform:rotate(-1deg);} /*must do 11% for some moz rendering*/
    100% {-webkit-transform:rotate(-360deg);-o-transform:rotate(-360deg);transform:rotate(-360deg);}
}
